main{
    display: flex;
}

aside{

    display:flex;
    flex: 1;
    margin-left: 10px;
    margin-right: 20px;
    padding: 15px;
    border-style: solid;
    border-color: #E9EDC9;
    border-radius: 10px;
    flex-direction: column;
}

#mybuttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aboutme{
    display:block;
    border-style: solid;
    border-color: #E9EDC9;
    border-radius: 10px;
    width: 65%;
    padding: 15px;
    margin: 10px;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #fefae0;
}

header { 
    color:#d4a373;
    margin-top: 15px;
    display: flex;
    flex-flow: row wrap;
    background-color: #e9edc9;
}

h1,h2 {
    text-align: center;
    flex: 5;
}

nav{
    height:50px;
    display: flex;
    flex: 100%;
}

nav ul{
    padding: 0;
    display:flex;
    list-style-type:none;
    flex:2;

}

nav li{
    display:inline;
    text-align: center;
    flex: 1 1 0%;
}

nav a{
    border-style: solid;
    border-color: #E9EDC9;
    border-radius: 10px;
    padding: 10px;
    }